.pencarian .container {
  overflow: hidden;
}
.pencarian__filter {
  float: left;
  width: 260px;
  margin-top: 50px;
  border: 1px solid #E3E3E3;
  background: #fff;
}
.pencarian__filter h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #E3E3E3;
  background: #F5F5F5;
}
.pencarian__panel {
  padding: 0 15px 10px;
}
.pencarian__panel h4 {
  font-size: 16px;
  font-weight: bold;
  color: #525252;
  margin: 0;
  padding: 15px 0 5px;
  border-bottom: 5px solid #D8D8D8;
}
.pencarian__panel ul {
  margin: 0;
  padding: 0;
}
.pencarian__panel li {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 5px 0;
  font-size: 14px;
  list-style: none;
}
.pencarian__filter-item {
  float: left;
}
.pencarian__filter-count {
  float: right;
  padding: 3px 8px;
  border-radius: 14px;
  background: #eee;
}
.pencarian__peta {
  margin: 10px 0;
  height: 160px;
  background: #eee;
}
.pencarian__content {
  float: right;
  margin-top: 50px;
  width: 900px;
}
.dataset__list {
  width: 100%;
  overflow: hidden;
}
.dataset__list__item {
  float: left;
  margin: 0 0 40px 40px;
}
