.footer {
  padding: 50px 0;
  background: #E3E3E3;
}
.footer .container {
  overflow: hidden;
}
.footer__tentang {
  float: left;
  width: 560px;
}
.footer__kontak {
  float: left;
  width: 265px;
  margin: 0 35px;
}
.footer__didukung {
  float: left;
  width: 265px;
}
.footer__header {
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
}
.footer__logo {
  width: 100%;
  overflow: hidden;
}
.footer__logo__item {
  float: left;
  padding: 0 20px 0 0;
}
