.dataset-terbaru  {
  padding: 60px 0 24px;
  border-top: 2px solid #fff;
}
.dataset-terbaru__header {
  position: absolute;
  transform-origin: top left;
  transform: rotate(90deg) translate(0, 40px);
  font-size: 24px;
  font-weight: normal;
}
.dataset-terbaru__header__line {
  float: left;
  width: 40px;
  height: 1px;
  margin: 18px 15px 0px -15px;
  background: #333;
}
.dataset-terbaru__list {
  width: 100%;
  overflow: hidden;
}
.dataset-terbaru__list__item {
  float: left;
  margin-left: 40px;
}
.dataset-terbaru__list__item:first-child {
  margin-left: 0;
}
